html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #000;
}

body{
    margin: 0px;
    background-color: #fff;
    color: #000;
    font-family: "Roboto", Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: #000;
    height: 50px;
    width: 100%;
}

.top-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 50%;
    padding: 0px;
    list-style-type: none;
}

.top-menu li a {
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    margin-left: 0px;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    font-weight: 800;
}

.menu-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 0px 0px;
    margin: 0px;
    list-style-type: none;
}

.menu-contato li a {
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    font-weight: 800;
}

#image-logo{
    display: flex;
    width: 140px; 
}


main{
    display: flex;
    margin-top: 40px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
}

.section-main-foto{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.section-main-perfil{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #f1f1f1;
}

.section-main-perfil h2{
    margin: 0px;
    font-weight: 800;
    font-size: 25px;
    font-family: "Inter", Helvetica, sans-serif;
    align-items: flex-end;
    color: #36393f;
}

.section-main-perfil h1{
    margin: 0px;
    font-weight: 900;
    font-size: 80px;
    font-family: "Inter", Helvetica, sans-serif;
    color: #26292f;
}

.section-main-perfil p{
    font-weight: 600;
    font-size: 80px;
    font-family: "Inter", Helvetica, sans-serif;
    margin: 0px;
    color: #26292f;
}

.foto-perfil{
    width: 300px;
    height: 450px;
    border: 5px solid #000;
    border-radius: 40px 40px 40px 5px;
    box-shadow: 2px 2px 10px 2px #f1f1f1;
}

aside{
    display: flex;
    flex-direction: column;
}

.section-sobre{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.section-sobre h2{
    font-weight: 800;
    font-size: 25px;
    font-family: "Inter", Helvetica, sans-serif;
    border-bottom: 2px solid black;
    align-items: center;
}

.section-sobre, p{
    font-family: "Roboto", Helvetica, sans-serif;
    text-align: center;
}

.card {
    width: 280px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.div-card{
    width: 350px;
    height: 450px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #000;
    color: #fff;
}

.div-card h3{
    border-top: 3px solid #000e91;
    padding-top: 5px;
    margin-bottom: 0px;
}

.div-card p{
    margin-bottom: 0px;
}

div-card, button{
    width: 75px 20px;
    font-size: medium;
    color: white;
    background-color: #000e91;
    border: 0px;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: 800;
    cursor: pointer;
}

.section-card{
    display: flex;
    gap: 0px 30px;
    background-color: #fff;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

#div-contato{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#div-contato ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-sociais ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-direitos{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-direitos ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-direitos p{
    margin: 0px;
}

.arrow{
    display: flex;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
    justify-content: center;
    position: absolute;
}

.arrow img{
    width: 40px;
}
