html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    background: linear-gradient(45deg, #000,  #0d0e0e);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #ffffff;
}

body{
    margin: 0px;
    color: #ffffff;
    font-family: "Roboto", Helvetica, sans-serif;
    background: linear-gradient(45deg, #000,  #0d0e0e);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: #000;
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #ffffff07;
}

.top-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 50%;
    padding: 0px;
    list-style-type: none;
}

.top-menu li a {
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    margin-left: 0px;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
}

.menu-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 0px 0px;
    margin: 0px;
    list-style-type: none;
}

.menu-contato li a {
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
}

#image-logo{
    display: flex;
    width: 180px; 
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0d0e0e;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(45deg, #000,  #0d0e0e);
    box-shadow: 0px 0px 10px 0px #ffffff05;
}

.section-main-foto{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    margin: 0px 80px 0px 0px;
}

.section-main-perfil{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.section-main-perfil h2{
    margin: 0px;
    font-weight: 800;
    font-size: 40px;
    font-family: "Inter", Helvetica, sans-serif;
    align-items: flex-end;
    color: #ffffff;
}

.section-main-perfil h1{
    margin: 0px;
    font-weight: 900;
    font-size: 80px;
    font-family: "Inter", Helvetica, sans-serif;
    color: #ffffff;
}

.section-main-perfil p{
    font-weight: 600;
    font-size: 40px;
    font-family: "Inter", Helvetica, sans-serif;
    margin: 0px;
    color: #ffffff;
    margin-bottom: 40px;
}

.section-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    gap: 20px;
}

.section-buttons button{
    font-family: "Roboto", Helvetica, sans-serif;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 15px;
    background-color: transparent;
}

.section-buttons img{
    margin-right: 8px;
}

.section-buttons a{
    text-decoration: none;
}

.button-wa{
    display: flex;
    width: 165px;
    height: 40px;
    gap: 2px;
}

.foto-perfil{
    width: 300px;
    height: 450px;
    border-radius: 40px 40px 40px 5px;
    box-shadow: 0px 0px 10px 0px #ffffff07;
    margin: 40px 0px;
}

aside{
    display: flex;
    flex-direction: column;
}

.section-sobre{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.section-sobre h2{
    font-weight: 800;
    font-size: 25px;
    font-family: "Inter", Helvetica, sans-serif;
    border-bottom: 2px solid black;
    align-items: center;
}

.section-sobre, p{
    font-family: "Roboto", Helvetica, sans-serif;
    text-align: center;
}

.card {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    
}

.div-card{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #0d0e0e;
    box-shadow: 0px 0px 5px 0px #ffffff07;
    color: #fff;
}

.div-card h3{
    border-top: 3px solid #ffffff;
    padding-top: 5px;
    margin-bottom: 0px;
}

.div-card, button{
    font-family: "Roboto", Helvetica, sans-serif;
    width: 75px 20px;
    font-size: medium;
    color: white;
    background-color: #0d0e0e;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 5px 8px;
    font-weight: 800;
    cursor: pointer;
}

.section-card{
    display: flex;
    gap: 0px 30px;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

#div-contato{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#div-contato ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    background: linear-gradient(45deg, #000,  #0d0e0e);
}

#div-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #000,  #0d0e0e);
}

#div-sociais ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-direitos{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-direitos ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-direitos p{
    margin: 0px;
}

footer{
    background: linear-gradient(45deg, #000,  #0d0e0e);
}

.arrow{
    display: flex;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
    justify-content: center;
    position: absolute;
}

.arrow img{
    width: 40px;
}
