@import url(reset.css);

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#ffffff;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #000000;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    color: #f1f1f1;
    font-family: "Lato", Helvetica, sans-serif;
    background: #111010;
}

header{
    margin: 20px 0px 20px 0px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    background-color: #000000;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.top-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 50%;
    padding: 0px;
    list-style-type: none;
}

.top-menu li a {
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    margin-left: 0px;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
}

li a:hover{
    color: #6b6060;
    transition: .3s all;
}

.menu-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 0px 0px;
    margin: 0px;
    list-style-type: none;
}

.menu-contato li a {
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    border: .5px solid #ffffff;
    border-radius: 5px 5px;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
}

.menu-contato li a:hover{
    color: #6b6060;
    border: .5px solid #6b6060;
    transition: .3s all;
}

#image-logo{
    display: flex;
    width: 180px; 
}

main{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0px 0px 30px 30px;
    background-color: #f1f1f1;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.section-main-foto{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    margin: 0px 80px 0px 0px;
}

.section-main-perfil{
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    border: .5px solid transparent;
    border-radius: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.section-main-perfil h2{
    margin: 0px;
    font-weight: 800;
    font-size: 40px;
    font-family: "Inter", Helvetica, sans-serif;
    align-items: flex-end;
    color: #000000;
    background-color: transparent;
}

.span-chaves{
    color: #6b6060;
}

.section-main-perfil h1{
    margin: 0px;
    font-weight: 800;
    font-size: 70px;
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
}

.section-main-perfil p{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    width: 430px;
    height: 50px;
    font-family: "Inter", Helvetica, sans-serif;
    color:#000000;
    margin-bottom: 40px;
    border-radius: 4px;
}

.section-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100px;
    gap: 20px;
}

.section-buttons button{
    font-family: "Inter", Helvetica, sans-serif;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid #f1f1f1;
    color: #000000;
    font-weight: 700;
    border-radius: 5px;
    background-color: #c9c9c9eb;
    cursor: pointer;
}

.section-buttons button:hover{
    color: #000;
    background-color: #f1f1f1;
    transition: .3s all;
}

.section-buttons i{
    margin-right: 8px;
    width: 30px;
    color: #000000;
}

.section-buttons a{
    text-decoration: none;
}

.button-wa{
    display: flex;
    width: 165px;
    height: 40px;
    gap: 2px;
}

.div-sociais-topo{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content:space-around;
}

.div-sociais-topo ul{
    display: flex;
    list-style-type:none;
    height: 30px;   
    gap: 10px;
}

.div-sociais-topo li{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
}

.fa-linkedin-in, .fa-github, .fa-x-twitter, .fa-discord{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    width: 22px;
}

.div-sociais-topo i:hover{
    color: #61606b;
    transition: .3s all;
}

.foto-perfil{
    width: 300px;
    height: 450px;
    border-radius: 40px 40px 40px 5px;
    margin: 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

aside{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
}

aside ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

#section-sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    width: 90%;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#section-formacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    width: 90%;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#section-formacao p{
    background-color: #f1f1f1;
    text-align: justify;
    width: 600px;
    height: 600px;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.section-sections .ezequiascordeiro h2{
    justify-content: center;
    display: flex;
    width: auto;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#section-sobre p{
    background-color: #f1f1f1;
    text-align: justify;
    width: 500px;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ezequiascordeiro{
    margin: 20px 20px 0px 0px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ezequiascordeiro h4, .metas-objetivos h4, .formação h4{
    color: #000000;
    font-size: 20px;
    margin-top: 50px;
    text-transform: uppercase;
}

.metas-objetivos{
    margin: 20px 0px 0px 20px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metas-objetivos img{
    border-radius: 20px;
    border: 5px solid #757171;
    
}

.formação{
    margin: 20px 0px 0px 20px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formação img{
    border-radius: 20px;
    border: 5px solid #757171; 
}

.section-sections .formação h2{
    justify-content: center;
    display: flex;
    width: auto;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.section-sections .metas-objetivos h2{
    justify-content: center;
    display: flex;
    width: auto;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.formação-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.formação-buttons button{
    font-family: "Inter", Helvetica, sans-serif;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid #f1f1f1;
    padding-right: 10px;
    color: #000000;
    font-weight: 700;
    border-radius: 5px;
    background-color: #c9c9c9eb;
    cursor: pointer;
}

.formação-buttons button:hover{
    color: #000;
    background-color: #f1f1f1;
    transition: .3s all;
}

.formação-buttons i{
    margin-right: 8px;
    width: 30px;
    color: #000000;
}

.formação-buttons a{
    text-decoration: none;
}

.ezequiascordeiro img{
    border-radius: 20px;
    border: 5px solid #757171;
    
}

.section-habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    width: 90%;
    height: auto;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.section-habilidades h2{
    justify-content: center;
    display: flex;
    width: auto;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.section-habilidades h4{
    color: #000000;
    font-size: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    margin: 0px 0px 50px 0px;
}

.section-habilidades ul{
    gap: 20px;
    margin-bottom: 20px;
}

.section-habilidades li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 118px;
    padding: 20px;
    border: .5px solid transparent;
    border-radius: 5px;
    background-color:#f1f1f1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.section-habilidades li img{
    width: 48px;
}

.section-habilidades p{
    margin-top: 10px;
    font-weight: 700;
    color: #000000;
}

#ul-softskills li{
    gap: 20px;
    width: auto;
    margin-bottom: 20px;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#ul-softskills li p{
    text-transform: uppercase;
}

#ul-softskills li:hover{
    transform: scale(1.1);
    transition: .3s;
}

#ul-utilits li:hover{
    transform: scale(1.1);
    transition: .3s;
}
#ul-langs li:hover{
    transform: scale(1.1);
    transition: .3s;
}

.div-todos-cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.div-h2-projetos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#section-projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    width: 90%;
    height: auto;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#section-projetos h2{
    justify-content: center;
    display: flex;
    width: auto;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.section-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #f1f1f1;
    text-align: justify;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border: .5px solid transparent;
    border-radius: 10px;
}

.div-image{
    margin-bottom: 20px;
}

.div-image img{
    width: 250px;
    border: .5px solid none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.content{
    max-height: 215px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 0.5s ease;
}

.content::before{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #f1f1f1);
}

.content h3{
    width: 150px;
    text-align: center;
    padding: 10px 0px 5px 0px;
    border-bottom: 2px solid #000;
}

.content p{
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
}

.leia-mais{
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    color: rgb(0, 17, 255);
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out
}

.leia-mais:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.section-card.active .content{
    max-height: 1000px;
    transition: max-height 0.5s ease;
}

.section-card.active .content::before{
    visibility: hidden;
}

.acesse-aqui{
    
    color: #000000;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s;
}

.acesse-aqui:hover{
    text-decoration:underline;
    color: rgb(0, 17, 255);
    transition: all .3s;
}

#div-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    width: 90%;
    height: auto;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-top: 20px;
}

#div-contato ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    background: linear-gradient(45deg, #000,  #0d0e0e);
}

#div-contato h3{
    justify-content: center;
    display: flex;
    width: auto;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #757171;
    border-radius: 10px 10px 10px 10px;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.h3-contato{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.formulario p{
    color: #0011ff;
    font-size: 20px;
    margin: 20px 0px;
}

.formulario form{
    display: flex;
    flex-direction: column;
}

.formulario b{
    color: #f1f1f1;
}

input{
    border: .5px solid #61606b;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 15px;
}

label{
    text-transform: uppercase;
    font-size: 14px;
}

textarea{
    border: .5px solid #61606b;
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
}

.buttons-enviar-e-apagar{
    display: flex;
    gap: 15px ;
}

#form-submit{
    padding: 5px 15px;
    background-color: #0011ff;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#limpar{
    padding: 5px 15px;
    background-color: #ff0000;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#div-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(160, 154, 207, 0.26);
}

#div-sociais ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

#div-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-footer-cima{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#div-copyright{
    width: 50%;
}

#div-copyright p{
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    font-weight: bold;
}

#div-ezequias{
    width: 50%;
}

#div-ezequias p{
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    font-weight: bold;
}

#div-endereco{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-top: 10px;
    align-items: stretch;
}

#div-endereco p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #f1f1f1;
}

#div-endereco i{
    display: flex;
    justify-content: center;
    color: #f1f1f1;
}

#div-e-mail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    align-items: stretch;
}

#div-e-mail p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #f1f1f1;
}

#div-e-mail h4{
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    transition: all .2s ease-in-out;
}

#div-e-mail p:hover{
    color: #757171;
    transition: all .2s ease-in-out;
}

footer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
    padding: 10px 0px;
    border-radius: 20px;
    background-color: #000;
    border: 2px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section-arrow{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 15px;
    margin-right: 10px;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
}

i.fa-arrow-up{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
